# this is a sample .env file. DO NOT put any environmental variables or API KEYS here.
# This is just to keep track what API keys we are using.

# If and when you do need an environmental variable create a "".env.local" file instead and place
# the keys there.

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=